.brew-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.brew-buttons button {
  width: 120px;
  height: 120px;
  font-size: 24px;
}

.brew-buttons button#brew {
  background-color: var(--celestial-blue);
}

.brew-buttons button#reset {
  background-color: var(--crimson-flame);
}

.result-area {
  position: relative;
  display: grid;
  justify-content: center;
  gap: 16px;
}

.result-area > p {
  position: absolute;
  font-size: 22px;
  padding: 6px;
  background-color: var(--obsidian-black-translucent);
  width: 100%;
  font-weight: bolder;
  border: 4px solid var(--lunar-pearl-translucent);
  border-radius: 4px;
  top: -15%;
}

.result-area img {
  height: 200px;
  border-radius: 999px;
}
