.ingredients {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.ingredients .ingredient-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  background-position: center;
  background-size: cover;
  /* padding: 8px; */
  height: 180px;
  width: 180px;
  border-radius: 4px;
}

@media screen and (max-width: 1024px) {
  .ingredients .ingredient-wrapper {
    width: 100px;
    height: 100px;
  }
}

.ingredient-wrapper > p {
  padding: 6px;
  background-color: var(--obsidian-black-translucent);
  border-radius: 4px;
  width: 100%;
  font-weight: bolder;
  
}

.ingredients-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  /* padding: 4px; */
  align-items: center;
  /* gap: 8px; */
  background-color: var(--obsidian-black-translucent);
  border: 4px solid var(--lunar-pearl-translucent);
}

.ingredients-buttons button {
  opacity: 70%;
  transition: 0.1s ease-in-out;
  font-weight: bolder;
  font-size: 22px;
}

.ingredients-buttons > p {
  padding: 6px;
  width: 33%;
  border-left: 4px solid var(--lunar-pearl-translucent);
  border-right: 4px solid var(--lunar-pearl-translucent);
  font-weight: bolder;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  order:2;
}

.ingredients-buttons .add-button {
  order: 1;
  background-color: transparent;
}

.ingredients-buttons .subtract-button {
  order:3;
  background-color: transparent;
}

.ingredients-buttons button:hover {
  opacity: 100%;
}

.ingredients-buttons button:active {
 scale: 0.9;
}

/* .ingredients-buttons button:active ~ .ingredient-amount{
  scale: 1.1;
 } */