@import url("./brew-area.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  font-family: "MedievalSharp", cursive;
  color: white;
  background-color: black;
}

div.background {
  position: absolute;
  background-image: url(../public/images/background/potion-shop.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 15%;
  height: 100%;
  width: 100%;
  z-index: -10;
  top: 0;
  left: 0;
}

h1 {
}

body > p {
}

button {
  background-color: rgb(165, 101, 42);
  color: white;
  font-family: "MedievalSharp", cursive;
  border-radius: 4px;
  border: none;
  padding: 8px 16px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

button:hover {
  transform: scale(1.03);
}
