* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  font-family: "MedievalSharp", cursive;
  color: white;
  background-color: black;
}

div.background {
  position: absolute;
  background-image: url(../public/images/background/potion-shop.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 15%;
  height: 100%;
  width: 100%;
  z-index: -10;
  top: 0;
  left: 0;
}

h1 {
}

body > p {
}

button {
  background-color: rgb(165, 101, 42);
  color: white;
  font-family: "MedievalSharp", cursive;
  border-radius: 4px;
  border: none;
  padding: 8px 16px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

button:hover {
  transform: scale(1.03);
}

/** brew area: */

.brew-area {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.brew-area .ingredients {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

/** element created by javascript: */
.brew-area .ingredients div.ingredient-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  background-position: center;
  background-size: cover;
  /* background-size: contain; */
  /* background-repeat: no-repeat; */

  /* border: 5px solid #3d1e10; */
  /* background-color: #9c593a; */
  padding: 8px;
  height: 180px;
  width: 180px;
  border-radius: 4px;
}

/** element created by javascript: */

.ingredient-wrapper > p {
  padding: 6px;
  background-color: rgba(128, 128, 128, 0.7);
  border-radius: 4px;
}

.ingredient-wrapper .ingredients-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  /* width: 96px; */
}

.ingredient-wrapper .ingredients-buttons button {
  opacity: 70%;
}

.ingredient-wrapper .ingredients-buttons > p {
  padding: 6px;
  background-color: rgba(128, 128, 128, 0.7);
  border-radius: 4px;
}

.ingredients-buttons .add-button {
  background-color: rgb(0, 128, 0);
}

.ingredients-buttons .subtract-button {
  background-color: rgb(165, 42, 42);
}

.ingredients-buttons button:hover {
  opacity: 100%;
}

/** element created by javascript: */
.brew-area .ingredients div.ingredient p {
}

.brew-area .brew-buttons {
  display: flex;
  gap: 8px;
}

.brew-area .brew-buttons button {
  width: 100%;
  padding: 16px 0;
}

.brew-area .brew-buttons button#brew {
  background-color: rgb(113, 113, 238);
  flex: 3;
}

.brew-area .brew-buttons button#reset {
  background-color: rgb(238, 113, 130);
  flex: 1;
}

/** result area:  */

.result-area {
  display: grid;
  justify-content: center;
  gap: 16px;
}

.result-area p {
}

.result-area img {
  height: 200px;
  border-radius: 999px;
}
